.movies-tray {
  padding: 0px 16px;
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.movies-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  width: 100%;
}

.status-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #547792;
  text-align: center;
}

@media (max-width: 600px) {
  .movies-list {
    gap: 15px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    justify-items: center;
  }

  .movies-tray {
    padding: 0px 8px;
  }
}
