.movie-card {
  background-color: #132130;
  border-radius: 18px;
  width: 100%;
  max-width: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition:
    transform 0.18s ease,
    box-shadow 0.18s ease;
}

.movie-image {
  width: 100%;
  height: 300px;
  object-fit: cover;
  display: block;
}

.movie-info {
  padding: 16px;
  text-align: center;
  background-color: #132130;
}

.movie-card-title {
  margin: 0 0 8px 0;
  font-size: 1.1rem;
  font-weight: 600;
  color: #ebfaff;
}

.meta-info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
  font-size: 0.95rem;
  color: #ebfaff;
}

.genre {
  opacity: 0.8;
}

.rating-badge {
  background-color: #202d38;
  color: #547792;
  padding: 2px 8px;
  border-radius: 12px;
  font-weight: bold;
  font-size: 0.85rem;
}

.watchlist-button {
  background-color: #547792;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 20px;
  cursor: pointer;
  width: 100%;
  font-size: 0.85rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  transition: background 0.3s;
}

.watchlist-button:hover {
  background-color: #46657d;
}

@media (max-width: 600px) {
  .movie-card {
    width: 100%;
    max-width: 300px;
  }
}
