.navbar {
    display: flex;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    align-items: center;
    position: sticky;
    top: 0;
    max-width: 1100px;
    min-width: 300px;
    width: 100%;
    margin-inline: auto;
    padding: 8px 12px;
    padding-inline: 20px;
    z-index: 10;
    border-radius: 20px;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.08);
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
    font-size: 20px;
    margin: 0;
    padding: 0;
    flex-grow: 1;
    justify-content: center;
    margin-right: 70px;
}

.nav-links a {
    text-decoration: none;
    color: #091e51;
}

.nav-links a:hover {
    text-decoration-line: underline;
    color: #e5228d;
}

.logo {
    width: 70px;
    flex: 0 0 auto;
}