*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

html {
  background-color: #213448;
  overscroll-behavior: none;
}

#root {
  margin: 0;
  padding: 0;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}

.content-wrap {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
}
